<%= form_with(model: [:admin, route]) do |form| %>
  <% render 'common/error', resource: @route%>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
