<%= form_with(model: [:admin, route]) do |form| %>
  <% render 'common/error', resource: @route%>

  <div class="form-floating w-50">
    <%= form.text_field :title, class: 'form-control', id: 'floatingTitle', placeholder: :title %>
    <%= form.label :title, for: 'floatingTitle' %>
  </div>

  <div class="actions mt-2 mb-2">
    <%= form.submit %>
  </div>
<% end %>
