<h1>Routes</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th class="row">Title</th>
  </tr>
  </thead>

  <tbody>
  <%= render @routes %>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_admin_route_path %>
