<h1>Greetings, Traveler!</h1>
<%= link_to 'Stations list', admin_railway_stations_path %> <br>
<%= link_to 'Trains list', admin_trains_path %> <br>
<%= link_to 'Routes list', admin_routes_path %> <br>
<%= link_to 'Search', search_path %> <br>
