<h1>Tickets list</h1>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Route</th>
    <th>Train #</th>
    <th>Passenger</th>
  </tr>
  </thead>

  <tbody>
  <%= render @tickets.sorted %>
  </tbody>
</table>

<br>
<%= link_to 'Search', search_path %>
