<table border="2">
  <thead>
  <tr>
    <th>Route</th>
    <th>Train #</th>
    <th>Passenger</th>
  </tr>
  </thead>

  <tbody>
  <%= render @tickets %>
  </tbody>
</table>

<br>
<%= link_to 'Main', root_path %>
