<h1>Carriages</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @carriage %>
  </tbody>
</table>

<br>

<%= link_to 'New Carriage', new_admin_train_carriage_path %>
<br>
<%= link_to 'Main', welcome_index_path %>
