<p>Привет, <%= @user.name %></p>

<p>Вы купили билет по маршруту <%= @ticket.route_title %> </p>
<p>Просмотреть билет вы можете <%= link_to 'здесь', ticket_url(nil, @ticket) %></p>
<p>Просмотреть все ваши билеты вы можете <%= link_to 'здесь', tickets_url %></p>