<p>Привет, <%= @user.email %></p>

<p>Вы удалили один из своих билетов </p>
<p>Купить былеты Вы можете <%= link_to 'здесь', search_url %></p>
<p>Просмотреть все ваши билеты Вы можете <%= link_to 'здесь', tickets_url %></p>